nav {
    transition: all .5s ease;
}

nav div a img {
    transition: all .5s ease;
    height: 150px;
    width: 150px;
    border-radius: 50%
}

#navbar-section.expand {
    height: 150px;
}

#navbar-section.collapse {
    height: min-content;
    padding-bottom: 0px;
}

nav.expand {
    height: 150px;
    align-items: flex-end;
    transition: all .5s ease;
}

nav.collapse {
    height: 0px;
    align-items: flex-end;
    transition: all .5s ease;
}

nav.expand div div.navbar-menu {
    transition: all .5s ease;
    height: 150px;
    align-items: flex-end;
}

nav.collapse div div.navbar-menu {
    transition: all .5s ease;
    height: 50px;
}

nav.collapse div a img {
    transition: all .5s ease;
    height: 50px;
    width: 50px
}

.navbar-item img {
    max-height: unset;
}

.navbar-item {
    padding-top: 0px;
    padding-bottom: 15px;
}

#title {
    width: 100%;
    text-align: center;
    font-family: unset;
}

#title.expand {
    font-size: 100px;
    transition: all .5s ease;
}

#title.collapse {
    font-size: 40px;
    transition: all .5s ease;
}

#avatarDiv {
    padding-bottom: 0px;
}